@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;700;800&display=swap');
:root {
--accent:#EA5959;
--default: rgba(0, 0, 0, 0.3);
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--accent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}
.todo {
    padding: 32px;
    background-color: white ;
    width: 90vh;
    border-radius: 16px;
}

.todo_content {
}
.todo_title {
}
.todo_new {
    --size:50px;
    display: flex;
    padding: 16px 0 32px;
   
}
.todo_new input {
margin-right: 16px;
font-size: 18px;
font-weight: 300;
padding: 8px 16px;
height: var(--size);
border: 1px solid var(--default);
border-radius: 5px;
flex-grow: 1;
}
.todo_add{
    /* margin-left: auto;
     margin-right: 0;  */
    font-size: 44px;
    line-height: calc(var(--size)*0.88);
    cursor: pointer;
    text-align: center;
    width: var(--size);
    border: 1px solid black;
    border-radius: var(--size);
    line-height: calc(var(--size)*0.95);
    height: var(--size);
    font-size: 32px;
    font-weight: 200;
    background: var(--accent);
    color: white;
}
.todo_list>*:not(:last-child) {
margin-bottom: 8px;
}
.todo_task {
    width: 100%;
    cursor: default;
    --size:36px;
    display: flex;
    align-items: center;
    min-height: var(--size);
}
.todo_task:hover .todo_task-del{
    display: block;
} 
.todo_task complete .todo_task-text {
text-decoration: line-through;
color: var(--default);
}

.todo_task_complete {
text-decoration: line-through;
/* color: var(--default); */
}
.todo_checkbox {
    margin-right: 16px;
}
.todo_checkbox input{
display: none;
}
.todo_checkbox input:checked+ div{
background-color: var(--accent);
}
.todo_checkbox input:checked+ div::after{
    display: block;
}
.todo_checkbox div {
    cursor: pointer;
    --size:28px;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
    color: white;
}
.todo_checkbox div::after {
    content: '🗸';
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.todo_task-text {
    font-size: 20px;
}
/* .todo_task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    font-size: 44px;
    line-height: calc(var(--size)*0.88);
}  */
.todo_task-edit,.todo_task-del{
    margin-left: auto;
    margin-right: 0;
    font-size: 44px;
    line-height: calc(var(--size)*0.88);
    cursor: pointer;
    text-align: center;
    width: var(--size);
    border: 1px solid black;
    border-radius: var(--size);
    line-height: calc(var(--size)*0.95);
    height: var(--size);
    font-size: 32px;
    font-weight: 200;
    background: var(--accent);
    color: white;
}